.order-btn {
    width: fit-content;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    background: #10B981;
    min-width: 263px;
    height: 70px;
    border-radius: 10px;
    margin-top: 52px;
    text-align: center;
    margin-left: 85px;
}
.