.order-btn {
    width: fit-content;
    min-width: 303px;
    height: 70px;
    background-color:var(--primary);
    color: #FFF;
    border: none;
    padding: 0 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 21px;
    font-family: Montserrat;
    line-height: 26px;
    cursor: pointer;
    box-shadow: rgba(132, 94, 194, 0.15);
    transition: all 0.1s ease;
}

.order-btn:hover{
    background-color: var(--primary-hover);
}